body {
    margin: 0;
    background: white;
    font-family: "Arial", Helvetica, sans-serif;
}

p {
    font-size: 20px;
    line-height: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
    color: black;
}

.topmenu {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f8f8f8;
    font-size: 12px;
    font-family: "Lexend Exa", sans-serif;
    font-weight: bold;
}

.secondmenu {
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    background: #ffffff;
    float: right;
}

.topmenu>li {
    display: inline-block;
    position: relative;
}

.topmenu>li>a {
    height: 50px;
    line-height: 70px;
    padding: 0 30px;
}

.topmenu li a:hover {
    color: #E6855F;
    font-size: 16px;
}

.submenu {
    background: #f8f8f8;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    font-size: 12px;
    background: #ffffff;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.submenu li a {
    color: #7f7f7f;
    line-height: 36px;
    padding: 0 25px;
}

.submenu li a:hover {
    color: rgb(3, 3, 3);
    font-size: 12px;
}

.right {
    float: right;
}

.logo {
    width: 10%;
    position: absolute;
    left: 100px;
    top: 0px;
}

.icon {
    width: 15px;
    text-align: center;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.photo-background {
    background-image: url("../Images/sustainable-esg-solarpanels.jpg");
    background-color: #0c0c0c;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5.3125rem;
    padding-bottom: 5.3125rem;
    
}

.photo-text {
    position: relative;
    top: 30%;
    left: 5%;
    color: white;
}

.content {
    padding: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}